* {
    scroll-behavior: smooth;
}


body{
    background: orange;
}


.box{
    width:960px;
    margin-left: 200px;
  
}
.banner{
    width: 960px;
    height: 580px;
    border: 2px solid orange;
    background: url(../img/fon.jpg);
    background-size: 100% 100%;
}

.h1{
    color: white;
    margin-left: 70px;
    margin-top: 50px;
    border-bottom: .4vh solid white;
    letter-spacing: 3px;
    font-size: 40px;
    padding-bottom: 30px;
     font-family: Arial Narrow, sans-serif;

}

.h2{
    color: white;
    margin-left: 70px;
    padding-top: 10px;
     font-family: Arial Narrow, sans-serif;
  }

.p1{
    color: white;
    margin-left: 70px;
    padding-top: 15px;
     font-family: Arial Narrow, sans-serif;
}





.button1{
    border: 2px solid white;
    width: 220px;
    height: 55px;
    margin-left: 70px;
    background: rgba(255, 255, 255, 0);
    margin-top: 40px;
   }

   @keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

button:hover {
    animation: bounce 1s;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 20px;
}


.text-header{
    float: left;
    width: 450px;

}

.fotoG{
   margin-top: 100px;
}




.content{
    width: 1000px;
    height: 500px;
    border: 0px solid grey;
}


.div1{
width:220px;
float:left;
margin-left: 30px;
margin-top: 20px;
}


.button2{
 border: 2px solid white;
    width: 220px;
    height: 55px;   
    background: rgba(255, 255, 255, 0);
    margin-left:  -30px;
    margin-bottom: 40px;
}

.button3{
 border: 2px solid white;
    width: 220px;
    height: 55px;   
    background: rgba(255, 255, 255, 0);
    margin-left:  -30px;
}
.button4{
 border: 2px solid white;
    width: 220px;
    height: 55px;   
    background: rgba(255, 255, 255, 0);
    margin-left:  -30px;
    margin-top: 34px;
}
.button5{
 border: 2px solid white;
    width: 220px;
    height: 55px;   
    background: rgba(255, 255, 255, 0);
    margin-left:  -30px;
}


.photo2{
    width: 130px;
    height: 130px;

}

.txt5{
    width: 180px;
    height: 360px;

}



footer {
    width: 975px;
    height: 100px;
    background: black;
    clear: both;
}

.p-footer {
    color: white;
    text-align: center;
    padding-top: 40px;
}






